<h1>Exibindo Restaurante</h1>

<p>
  <b>Nome: </b>
  <%= @restaurante.nome %>
</p>

<p>
  <b>Endereço: </b>
  <%= @restaurante.endereco %>
</p>

<p>
  <b>Especialidade: </b>
  <%= @restaurante.especialidade %>
</p>

<p>
  <b>Nota média: </b>
  <%= @restaurante.qualificacoes.average(:nota) %>
</p>

<p>
  <b>Qualificações: </b>
  <%= @restaurante.qualificacoes.count %>
</p>

<p>
  <b>Preço médio: </b>
  <%= @restaurante.qualificacoes.average(:valor_gasto) %>
</p>

<%= comentarios @restaurante %>
<%= novo_comentario @restaurante %>

<%= link_to "Qualificar este restaurante", controller: "qualificacoes",
                                           action: "new",
                                           restaurante: @restaurante %>
                                           
<%= link_to 'Editar', action: 'edit', id: @restaurante %>
<%= link_to 'Voltar', action: 'index' %>