<%= form_for(qualificacao) do |f| %>
  <% if qualificacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(qualificacao.errors.count, "error") %> prohibited this qualificacao from being saved:</h2>

      <ul>
      <% qualificacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @qualificacao.cliente %>
    <%= f.hidden_field 'cliente_id' %>
  <% else %>
    <div class="field">
      <%= f.label :cliente_id %>
      <%= f.collection_select(:cliente_id, @clientes, :id, :nome, :prompt => true) %>
    </div>
  <% end %>

  <% if @qualificacao.restaurante %>
    <%= f.hidden_field 'restaurante_id' %>
  <% else %>
    <div class="field">
      <%= f.label :restaurante_id %>
      <%= f.collection_select(:restaurante_id, @restaurantes, :id, :nome, :prompt => true) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nota %>
    <%= f.text_field :nota %>
  </div>

  <div class="field">
    <%= f.label :valor_gasto %>
    <%= f.text_field :valor_gasto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
